<!-- All Posts View -->
<div id="posts-view">
  <div id="pagination">
    {% if posts.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{ posts.previous_page_number }}">Previous</a>
    {% endif %}
    <!---->
    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
    <!---->
    {% if posts.has_next %}
    <a href="?page={{ posts.next_page_number}}">Next</a>
    <a href="?page={{ posts.paginator.num_pages }}">Last</a>
    {% endif %}
  </div>
</div>
<!---->
{% endif %}
